@keyframes loadingTextAnim{
    0%{
        margin-left:-20%;
        color:red;
    }
    50%{
        margin-left:17%;
        color:green;
    }
    100%{
        margin-left:-20%;
        color:red;
    }
}

.loading-text{
    position:absolute;
    color:dodgerblue;
    font-size:100px;
    animation: loadingTextAnim 1s infinite;
}
