@keyframes loadingTextAnim{
    0%{
        margin-left:30%;
    }
    50%{
        margin-left:50%;
    }
    100%{
        margin-left:30%;
    }
}

.loadingText{
    position:absolute;
    margin-left:40%;
    margin-top:30%;
    color:dodgerblue;
    font-size:100px;
    animation: loadingTextAnim 1s infinite;
}

@keyframes mainHeaderDown{
    from{margin-top:-25%;}
    to{margin-top:0%;}
}

.mainHeader{
    position:absolute;
    height:150px;
    width:100%;
    background-color:#8eff7a;
    animation: mainHeaderDown 2s forwards;
}

.responseText{
    position:absolute;
    font-size:30;
}
